include LICENSE
include README.md
include pyproject.toml
include setup.py
recursive-include msdrg *.py
include msdrg/py.typed
include msdrg/data/msdrg.mdb
recursive-include zig_src *.zig build.zig *.c *.h
recursive-include scripts *.py *.sh
include data/msdrg.mdb
recursive-exclude msdrg/_lib *
